<% include ../header %>
<div class="account-body">
  <section class="section">
    <div class="basic">
    <% user_a.forEach(user_a => { %>
      <div class="basic-title">
        <h2>基本情報</h2>
        <table class="tabel-body">
          <tbody>
            <tr>
              <th>お名前</th>
              <td><%= user_a.name %></td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= user_a.postal_code %></td>
            </tr>
            <tr>
                <th>住所</th>
                <td><%= user_a.address %></td>
              </tr>
            <tr>
              <th>電話番号</th>
              <td><%= user_a.phone_number %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="basic-title">
        <h2>メールアドレス</h2>
        <table class="tabel-body">
          <tbody>
            <tr>
              <th>メールアドレス</th>
              <td><%= user_a.email %></td>
          </tbody>
        </table>
      </div>
      <div class="edit-btn">
        <a class="edit-btn-img" href="/mypage/account/会員ID/edit">会員情報を変更する</a> 
      </div>  
      <% }); %>
    </div>
  </section>
</div>
<% include ../footer %>