<% include ../header %>
<div class="cart-body">
    <% cart_items.forEach(cart_item => { %>
  <div class="cart-content">
    <div class="cart-item">
      <div class="cart-items-img">
        <a href="items/<%=cart_item.item_id%>">
          <img src="../img/front/index/sample_campa2.jpg" class="cart-item-img">
        </a>
      </div>
      <div class="cart-item-infomation">
        <div class="cart-item-details">
          <p class="cart-item-title"><%= cart_item.product_name %></p>
          <br><p><%= cart_item.product_description %></p>
        </div>
      </div>
    </div>
    <div class="cart-retailprice">
      <nobr>価格：</nobr>
      <nobr class="cart-price"><%= cart_item.product_price %></nobr> <!--値段をDBから取得する-->
      <nobr> 円（税込み）</nobr>
    </div>
    <div class="cart-items-select">
      <nobr>数量：</nobr>
      <nobr class="cart-item-select"><%= cart_item.quantity %></nobr> <!--値段をDBから取得する-->
      <nobr> 個</nobr>
    </div>
    <div class="cart-delete-btn">
      <form method="POST" action="/cart/?_method=DELETE">
        <input type="submit" name="delete-btn" value="削除">
        <!-- CSRF対策-->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="id" value="<%= cart_item.item_id %>">
      </form>
    </div>
  </div>
  <% }); %>

  <a class="buy-btn-img" href="/order">
    <div class="buy-btn">
      <p>ご購入手続きに進む</p>
    </div>  
  </a>
</div>
  




  
<% include ../footer %>



