<% include ../header %>
<div class="show-body">
    <% show.forEach(show => { %>
  <div class="items-img">
    <div class="thumbnail">
      <div><img src="../img/front/show/sample_show1.jpg" alt=""></div>
      <div><img src="../img/front/show/sample_show2.jpg" alt=""></div>
      <div><img src="../img/front/show/sample_show3.jpg" alt=""></div>
      <div><img src="../img/front/show/sample_show4.jpg" alt=""></div>
    </div>
    <div class="thumbnail-thumb">
      <div><img src="../img/front/show/sample_show1.jpg" alt=""></div>
      <div><img src="../img/front/show/sample_show2.jpg" alt=""></div>
      <div><img src="../img/front/show/sample_show3.jpg" alt=""></div>
      <div><img src="../img/front/show/sample_show4.jpg" alt=""></div>
    </div>
  </div>
  <div class="item-infomation">
    <div class="item-details">
      <h2><%=show.product_name%></h2>
      <br><p><%=show.product_description%></p>  
        <div class="item-buy-head">
          <h3>商品情報</h3>
        </div>
        <div class="retailprice">
          <nobr>通常価格：</nobr>
          <nobr class="price"><%=show.product_price%> 円</nobr> <!--値段をDBから取得する-->
          <nobr>（税込み）</nobr>
        </div>
        <div class="item-buy">
          <form method="POST" action="/cart">
            <div class="quantity">
              数量
              <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          <div class="cart-btn">
            <input type="submit" name="button" value="カートに入れる">
          </div>
          <!-- CSRF対策-->
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="id" value="<%= show.id %>">
        </form>   
      </div>
    </div>
  </div>
  <% }); %>
</div>

<% include ../footer %>